<div class="container animated fadeIn fast">
    <div class="row">
        <div class="col-12">
            <div class="display-3">
                Sobre nosotros
            </div>
            <hr>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corrupti sunt consequatur dolor voluptates iure eum incidunt. Recusandae assumenda rerum omnis, in, id inventore quo vel necessitatibus reprehenderit, itaque consectetur sed eos optio. Vero, dolor. Blanditiis obcaecati fugiat magni id voluptatem excepturi temporibus voluptas, enim ut consequuntur. Natus accusantium dolorem, nam veritatis quae at explicabo, eaque beatae aspernatur sequi reiciendis? Laudantium ipsam corporis totam ipsum veniam dolores ea cupiditate officia.</p>
        </div>
    </div>
</div>


