<div class="container animated fadeIn fast">
    <div class="row">
        <div class="col-12 text-center bg-light p-3">
            <div class="display-3">WeAreHeroes</div>
            <br>
            <div class="lead text-left">Lorem, ipsum dolor sit am Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure
                error enim, nulla fuga quibusdam obcaecati saepe illo temporibus provident odit tempora maiores, officia
                vero quia a eius. Est ducimus ipsa pariatur ut possimus cum consequuntur. Consequuntur nobis dolores ex
                reiciendis et non ipsum eos expedita praesentium, impedit ipsa? Omnis, quae. similectus?</div>
        </div>
    </div>
</div>