<div class="container animet fadeIn fast">
    <div class="row">
        <div class="col-12">
            <div class="display-3">
                Heroes
            </div>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus provident vel incidunt! Mollitia,
                quidem eos ut neque incidunt consequuntur ea dolorem dolorum veritatis blanditiis qui possimus quibusdam
                quos quo cum nulla ipsa expedita, doloremque fugit corporis at. Deserunt commodi maxime doloremque,
                ullam natus quod eaque quos suscipit provident architecto aliquid!
            </p>
            <div class="row mt-5">
                <div class="card-columns">
                    <div class="card" *ngFor="let heroe of heroes; let i = index">
                        <img src="{{heroe.img}}" class="card-img-top rounded p-3 img-fluid" alt="{{heroe.nombre}}">
                        <div class="card-body">
                            <h5 class="card-title">{{heroe.nombre}}</h5>
                            <p class="card-text">{{heroe.bio}}</p>
                            <p class="card-text">Pertenece a {{heroe.casa}}</p>
                            <p class="card-text"><small class="text-muted">Apareció en {{heroe.aparicion}}</small></p>
                            
                             
                                <button (click)="verHeroe(i)" type="button" class="btn btn-outline-success btn-block">Ver más...</button> 
                            
                             
                                <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-success btn-block">Ver más link.</a>
                                    -->
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>